{% extends 'base.html' %}

{% block content %}

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
     <!-- Page Heading -->
     <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Global Configurations</h1>  <i id="quick-create-spinner" class="fa fa-spinner fa-spin" style="display:none"></i>
        
    </div>

        </nav>
        <!-- End of Topbar -->
     
        <!-- Begin Page Content -->
        <div class="container-fluid">      
          <div class="row">
            <div class="col-7">
              <div class="alert alert-info" role="alert">
                <h3>Prerequisite</h3>
               1. Create an IAM User with <em>Programmatic Access with "AdministratorAccess" Role.(Not ideal for production,only test)</em>
               <a target="_" href="https://docs.aws.amazon.com/IAM/latest/UserGuide/id_users_create.html">Please follow this guide</a>
               <br><br>
               2. <a href="https://awscli.amazonaws.com/AWSCLIV2.msi">Download and install aws cli tools for windows</a>
              </div>  
              {% if context.msg %}
              <div class="alert alert-info" role="alert">
               {{ context.msg }}
               
              </div>
              {% endif %}
              <form method="POST" action="/configure">
                <div class="form-group">
                  <label for="AWS_ACCESS_KEY_ID">AWS Access Key ID</label> 
                  <input id="AWS_ACCESS_KEY_ID" name="AWS_ACCESS_KEY_ID" type="text" class="form-control" required="required">
                </div>
                <div class="form-group">
                  <label for="AWS_SECRET_ACCESS_KEY">AWS Secret Access Key</label> 
                  <input id="AWS_SECRET_ACCESS_KEY" name="AWS_SECRET_ACCESS_KEY" type="text" class="form-control" required="required">
                </div>
                <div class="form-group">
                  <label for="AWS_DEFAULT_REGION">AWS Default Region</label> 
                  <input id="AWS_DEFAULT_REGION" name="AWS_DEFAULT_REGION" type="text" class="form-control" required="required" value="us-east-2">
                </div>
                <div class="form-group">
                  <label for="AWS_DEFAULT_OUTPUT">AWS Default Output</label> 
                  <input id="AWS_DEFAULT_OUTPUT" name="AWS_DEFAULT_OUTPUT" type="text" class="form-control"  required="required" value="json">
                </div>
                <div class="form-group">
                  <label for="GITHUB_PERSONAL_TOKEN">Github Personal Access Token</label> 
                  <input id="GITHUB_PERSONAL_TOKEN" name="GITHUB_PERSONAL_TOKEN" type="text" class="form-control" aria-describedby="GITHUB_PERSONAL_TOKENHelpBlock"> 
                  <span id="GITHUB_PERSONAL_TOKENHelpBlock" class="form-text text-muted"><a  target="_" href="https://docs.github.com/en/github/authenticating-to-github/creating-a-personal-access-token" >Please generate one for your account here, this is required for initiing framework repository and DevSecOpos</a></span>
                </div> 
                <div class="form-group">
                  <label for="FS_KUBE_LICENSE_KEY">fsKube License Key</label> 
                  <input id="FS_KUBE_LICENSE_KEY" name="FS_KUBE_LICENSE_KEY" type="text" class="form-control" required="required">
                  <span id="FS_KUBE_LICENSE_KEYHelpBlock" class="form-text text-muted"><a  target="_" href="https://rebataur.com/mydownloads" >Please find your fsKube license key in MyDownloads pages on rebataur.com</a></span>
                </div>
                <div class="form-group">
                  <button name="submit" type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
              
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->

{% endblock %}